:root {
    --default-font-family: "Poppins", sans-serif;
    --body-bg-color: #f5f5f5;
    --default-text-color: #333;
    --base-separation: 1rem;
    --half-separation: calc(var(--base-separation) / 2);
    --double-separation: calc(var(--base-separation) * 2);
    --primary-color: #5e00ea;
    --primary-color-high: #7d29fa;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--default-font-family);
}

html {
    font-size: 1.25rem;
}

body {
    background-color: var(--body-bg-color);
    font-size: 1em;
    color: var(--default-text-color);
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;
    height: 100vh;
    place-items: center;
    padding: var(--base-separation) var(--base-separation);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--half-separation);
    align-items: center;
}

#count {
    font-size: 5em;
    font-weight: 600;
    margin-bottom: 0;
}

button {
    padding: 12px 16px;
    background-color: #5e00ea;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 0.875em;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #7d29fa;
    outline: none;
}
