:root {
    --default-font-family: "Poppins", sans-serif;
    --body-bg-color: #f5f5f5;
    --default-text-color: #333;
    --base-separation: 1rem;
    --half-separation: calc(var(--base-separation) / 2);
    --double-separation: calc(var(--base-separation) * 2);
    --primary-color: #5e00ea;
    --primary-color-high: #7d29fa;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
    font-family: var(--default-font-family);
}

html {
    font-size: 1.25rem;
}

body {
    background-color: var(--body-bg-color);
    font-size: 1em;
    color: var(--default-text-color);
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;
    place-items: start center;
    padding: var(--base-separation) var(--base-separation);
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    border: 1px #63507f solid;
    border-radius: 4px;
    overflow: hidden;
    place-content: center;
    margin-bottom: var(--half-separation);
}

select,
input {
    border: none;
    padding: var(--half-separation);
    outline: none;
}

select {
    background-color: #5e00ea;
    color: #fff;
    text-align: left;
    border-right: 6px solid transparent;
    font-size: 0.87em;
}
option {
    height: 50px;
    padding: 50px;
}

input::placeholder {
    color: #aaa;
}

#results-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    background-color: #fff;
    border: 1px solid #cecee6;
    border-radius: 4px;
    min-height: 60px;
    transition: all 250ms ease-in-out;
    overflow: hidden;
}

#results-container li {
    padding: var(--half-separation) var(--base-separation);
    min-height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cecee6;
}

#results-container li:nth-last-child(1) {
    border-bottom: none;
}
#results-container li:hover {
    background-color: #eadaff;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.books {
    background-color: #f5f6ff;
}
.films {
    background-color: #eaeaff;
}
